$font-family-sans-serif: "Roboto", "Helvetica", "Arial", sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-root: 16px !default;
$font-size-base: 1rem !default;

$line-height-base: 1.5 !default;


html {
  box-sizing: border-box;

  font-size: $font-size-root;

  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;

  color: rgba(0, 0, 0, 0.87);
  
  background-color: #fff;
}
